extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h1.h5.card-header= t("Welcome to Forward Email")
          .card-body.text-center.p-0
            .p-3
              p.card-text
                = emoji("lock")
                = " "
                = t("Your encrypted mailbox is ready.")
              if aliasAddress
                p.card-text
                  strong= aliasAddress
            .p-3
              h1.h3
                = emoji("rocket")
                = " "
                = t("Get Started")
              ul.list-unstyled.text-left.mb-0.d-inline-block.mx-auto
                li
                  = emoji("book")
                  = " "
                  a(href=`${config.urls.web}/${locale}/faq`)= t("FAQ")
                li
                  = emoji("inbox_tray")
                  = " "
                  a(
                    href=`${config.urls.web}/${locale}/faq#how-do-i-import-and-migrate-my-existing-mailbox`
                  )= t("Import & Migrate Your Mailbox")
                li
                  = emoji("computer")
                  = " "
                  a(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`
                  )= t("Email Client Setup")
            .p-3
              h1.h3
                = emoji("gear")
                = " "
                = t("Manage Your Account")
              ul.list-unstyled.text-left.mb-0.d-inline-block.mx-auto
                li
                  = emoji("mailbox_with_mail")
                  = " "
                  a(href=`${config.urls.web}/${locale}/my-account/domains`)= t("Create Aliases & Mailboxes")
                li
                  = emoji("shield")
                  = " "
                  a(href=`${config.urls.web}/${locale}/my-account/security`)= t("Account Security & Profile")
                li
                  = emoji("credit_card")
                  = " "
                  a(href=`${config.urls.web}/${locale}/my-account/billing`)= t("Billing & Plans")
            .p-3
              h1.h3
                = emoji("bulb")
                = " "
                = t("Learn More")
              ul.list-unstyled.text-left.mb-0.d-inline-block.mx-auto
                li
                  = emoji("page_facing_up")
                  = " "
                  a(href=`${config.urls.web}/technical-whitepaper.pdf`)= t("Technical Whitepaper (PDF)")
                li
                  = emoji("wrench")
                  = " "
                  a(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-self-hosting`
                  )= t("Self-Hosting Guide")
            .p-3
              h1.h3
                = emoji("speech_balloon")
                = " "
                = t("Connect With Us")
              ul.list-unstyled.text-left.mb-0.d-inline-block.mx-auto
                li
                  = emoji("raising_hand")
                  = " "
                  a(href=`${config.urls.web}/${locale}/help`)= t("Support & Help")
                li
                  = emoji("speech_balloon")
                  = " "
                  a(
                    href="https://matrix.to/#/#forwardemail:matrix.org",
                    target="_blank",
                    rel="noopener noreferrer"
                  )= t("Matrix Chat Room")
                li
                  = emoji("bird")
                  = " "
                  a(
                    href="https://x.com/fwdemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )= t("@fwdemail on X (Twitter)")
                li
                  = emoji("hammer_and_wrench")
                  = " "
                  a(
                    href="https://github.com/forwardemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )= t("GitHub")
          .card-footer.small.text-muted= t("If you have any questions, simply reply to this email.")
